<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <title>Omaha Code School - Working On</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script src="https://use.fontawesome.com/28ea288129.js"></script>
</head>
<body>

<div id="top_container">
  <div>
    <a href="/"><img src="ocs.png" id="OCS_logo"></a>
  </div>
  <div id="top_container-login">
		<div><strong><%= @admin %></strong> logged in as administrator</div>
		<form method="get" action="/getinfo">
			<select name="student">
			<% @names.each do |name| %>
				<option value="<%= name %>"><%=name%></option>
			<% end %>
			</select>
			<select name="day">
			<% @dates.each do |date| %>
				<option value="<%= date %>"><%=date%></option>
			<% end %>
			</select>
			<button type="submit">Show Information</button>
		</form>
	</div>	
  <div id="top_container-admin">
    <div id="logout_button">
      <a href="/admin_logout">
        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>