<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>Omaha Code School - Admin</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<script type="text/javascript" src="scripts.js"></script>
</head>
<body>

<div class="topbar" id="topbarId">
	<div class = "topbar--imgBox">
		<a href="/"><img src="ocs.png" id="imgOCS"></a>
	</div>

	<div class="topbar--submission_area">
		<form method="get" action="/getinfo" class= "dropBox--holder">
			<select name="student" class="submit-an--drop" id="dropBox">
			<% @names.each do |name| %>
				<option value="<%= name %>"><%=name%></option>
			<% end %>
			</select>

			<select name="day" class ="submit-an--drop" id ="dropBox">
			<% @dates.each do |date| %>
				<option value="<%= date %>"><%=date%></option>
			<% end %>
		</select>

		<button type="submit" class="submit-an--drop" id="dropBox--submit">Show Information</button>
		</form>
	</div>

	<div class= "topbar--adminButton">
		<a href="/admin"><i class="fa fa-key" aria-hidden="true" id="adminKey"></a></i>
	</div>
</div>

<%= yield %>

</body>
</html>